@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?9002tyB');
  src:  url('/fonts/icomoon/icomoon.eot?9002tyB#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?9002tyB') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?9002tyB') format('woff'),
    url('/fonts/icomoon/icomoon.svg?9002tyB#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mdi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  font-size: 12px;

  &:before {
    position: relative;
    top: -1px;
  }
}

// list of icons

.mdi-subdirectory-arrow-left:before {
  content: "\f60c";
}
.mdi-folder-open:before {
  content: "\f76f";
}
.mdi-help:before {
  content: "\e901";
}
.mdi-account:before {
  content: "\f004";
}
.mdi-account-multiple-minus:before {
  content: "\f5d3";
}
.mdi-account-multiple-plus:before {
  content: "\f010";
}
.mdi-account-plus:before {
  content: "\f014";
}
.mdi-account-remove:before {
  content: "\f015";
}
.mdi-arrow-left:before {
  content: "\f04d";
}
.mdi-arrow-left-bold:before {
  content: "\f04e";
}
.mdi-auto-fix:before {
  content: "\f068";
}
.mdi-bell-outline:before {
  content: "\f09c";
}
.mdi-bell-ring:before {
  content: "\f09e";
}
.mdi-bike:before {
  content: "\f0a3";
}
.mdi-briefcase:before {
  content: "\f0d6";
}
.mdi-car:before {
  content: "\f10b";
}
.mdi-chart-areaspline:before {
  content: "\f127";
}
.mdi-check:before {
  content: "\f12c";
}
.mdi-check-circle-outline:before {
  content: "\f5e1";
}
.mdi-checkbox-blank-circle:before {
  content: "\f12f";
}
.mdi-checkbox-blank-circle-outline:before {
  content: "\f130";
}
.mdi-chevron-down:before {
  content: "\f140";
}
.mdi-chevron-up:before {
  content: "\f143";
}
.mdi-close:before {
  content: "\f156";
}
.mdi-currency-btc:before {
  content: "\f1ac";
}
.mdi-currency-eur:before {
  content: "\f1ad";
}
.mdi-currency-gbp:before {
  content: "\f1ae";
}
.mdi-currency-inr:before {
  content: "\f1af";
}
.mdi-currency-ngn:before {
  content: "\f1b0";
}
.mdi-currency-rub:before {
  content: "\f1b1";
}
.mdi-currency-try:before {
  content: "\f1b2";
}
.mdi-currency-usd:before {
  content: "\f1b3";
}
.mdi-cursor-default:before {
  content: "\f1b4";
}
.mdi-cursor-pointer:before {
  content: "\f1b7";
}
.mdi-delete:before {
  content: "\f1c0";
}
.mdi-download:before {
  content: "\f1da";
}
.mdi-file:before {
  content: "\f214";
}
.mdi-file-chart:before {
  content: "\f215";
}
.mdi-file-delimited:before {
  content: "\f218";
}
.mdi-file-document:before {
  content: "\f219";
}
.mdi-file-document-box:before {
  content: "\f21a";
}
.mdi-file-excel:before {
  content: "\f21b";
}
.mdi-file-excel-box:before {
  content: "\f21c";
}
.mdi-file-export:before {
  content: "\f21d";
}
.mdi-file-find:before {
  content: "\f21e";
}
.mdi-file-hidden:before {
  content: "\f613";
}
.mdi-file-image:before {
  content: "\f21f";
}
.mdi-file-import:before {
  content: "\f220";
}
.mdi-file-lock:before {
  content: "\f221";
}
.mdi-file-multiple:before {
  content: "\f222";
}
.mdi-file-music:before {
  content: "\f223";
}
.mdi-file-outline:before {
  content: "\f224";
}
.mdi-file-pdf:before {
  content: "\f225";
}
.mdi-file-pdf-box:before {
  content: "\f226";
}
.mdi-file-powerpoint:before {
  content: "\f227";
}
.mdi-file-powerpoint-box:before {
  content: "\f228";
}
.mdi-file-restore:before {
  content: "\f670";
}
.mdi-file-video:before {
  content: "\f22b";
}
.mdi-file-word:before {
  content: "\f22c";
}
.mdi-file-word-box:before {
  content: "\f22d";
}
.mdi-file-xml:before {
  content: "\f22e";
}
.mdi-floppy:before {
  content: "\f249";
}
.mdi-gender-male-female:before {
  content: "\f29e";
}
.mdi-human-female:before {
  content: "\f649";
}
.mdi-human-male:before {
  content: "\f64d";
}
.mdi-inbox:before {
  content: "\f686";
}
.mdi-keyboard:before {
  content: "\f30c";
}
.mdi-magnify:before,
.mdi-search:before, {
  content: "\f349";
}
.mdi-menu:before {
  content: "\f35c";
}
.mdi-minus-circle-outline:before {
  content: "\f377";
}
.mdi-motorbike:before {
  content: "\f37c";
}
.mdi-note-multiple:before {
  content: "\f6b7";
}
.mdi-pencil:before {
  content: "\f3eb";
}
.mdi-plus:before {
  content: "\f415";
}
.mdi-plus-circle:before {
  content: "\f417";
}
.mdi-scale-balance:before {
  content: "\f5d1";
}
.mdi-send:before {
  content: "\f48a";
}
.mdi-settings:before {
  content: "\f493";
}
.mdi-tag:before {
  content: "\f4f9";
}
.mdi-tag-multiple:before {
  content: "\f4fb";
}
.mdi-timer-sand:before {
  content: "\f51f";
}
.mdi-timer-sand-empty:before {
  content: "\f6ac";
}
.mdi-upload:before {
  content: "\f552";
}
.mdi-arrow-right:before {
  content: "\f054";
}
.mdi-arrow-right-bold:before {
  content: "\f733";
}
.mdi-angle-right:before {
  content: "\e902";
}
.mdi-angle-left:before {
  content: "\e900";
}
.mdi-image-area:before {
  content: "\f2eb";
}
.mdi-warning:before {
  content: "\ea07";
}
.mdi-file-tree:before {
  content: "\f645";
}
.mdi-home:before {
  content: "\f2dc";
}
