
.box-header {
  padding: 0 20px;
  height: 48px;
  background: #FFFEFF;
  margin: auto;
  border: 1px solid #CBDDEC;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  + .box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  .title {
    float: left;
    color: #4F5F76;
    padding: 15px 0;
    font-size: 14px;
    font-weight: $medium;
	height:46px;
  }

  .filter {
    float: left;
    color: #4F5F76;
    margin: 15px 0;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: $medium;
    border-left: 1px solid #cdd8e5;
  }

  > .button, > .buttons {
    float: right;
    margin: 4px 0;
  }

  .dropdown {
    float: right;
  }

  > .link {
    float: right;
    line-height: 48px;
  }

  .action {
    cursor: pointer;
    float: right;
    border-radius: 100%;
    padding: 2px;
    margin: 13px 0;
    color: #4F5F76;
    transition: $tr-time opacity $tr-ease;
    opacity: .8;
    text-align: center;

    &.edit, &.add {
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 19px;
    }

    &.add {
      background: $green-200;
      color: white;

	  .mdi-plus:before, .mdi-upload:before {
		top: -1.5px;
		left: 0.5px;
	  }
    }

    &:hover, &:focus {
      opacity: 1;
    }
  }

  &:after {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
  }
}

.box-header__wrap {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.box {
  padding: 20px;
  background: #FFFEFF;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #CBDDEC;
  border-bottom-color: #B8CDE0;
  text-align: left;
  margin-bottom: 30px;

  &.red {
    background: lighten($red-200, 35%);
    border: 1px dashed $red-200;
    color: darken($red-200, 35%);

    .link {
      float: right;
    }
  }

  &.gray {
    background: $gray-100;
  }

  p {
    margin: 0;
  }

  &.compact {
    padding: 0;
    p.boxxed {
      padding: 10px 20px;
    }
  }
}

.box.logo {
  #fileUpload {
    display: none;
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    border: 1px dashed #000;
    height: 100px;
    width: auto;
    min-width: 100px;
    margin-right: 10px;
  }
  .main-title {
    margin-bottom: 1em;
  }
}

.box.auth {
  max-width: 400px;
  border-radius: 3px;
  border-color: transparent;
  padding: 0;
  min-height: 127px;

  transition: 200ms ease-out;

  hr {
    border-top: 1px solid $gray-100;
    border-bottom: 1px solid $gray-100;
  }

  .sub-title {
    font-size: 16px;
    font-weight: $regular;
  }

  .ui.form {
    .field {
      margin-bottom: 20px;
    }
  }

  .box-padding {
    padding: 20px;
  }

  .or {
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #666;
    user-select: none;

    margin: 20px auto;
    text-align: center;
    font-size: 10px;
    line-height: 1;
  }

  .info {
    font-weight: $medium;
    text-align: center;
    color: #5264AE;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
  }

  .button.icon.left.floated {
    text-align: center;
    span {
      margin-left: -40px;
    }
  }

  @media only screen and (max-width: 600px) {
    .button.icon.left.floated {
      text-align: left;
      i.mdi {
        text-align: center;
      }
      span {
        margin-left: 20px;
      }
    }
  }
}

.box.summary {
  span {
    display: inline-block;

    &.bold {
      font-weight: $bold;
      text-transform: capitalize;
    }

    &:after {
      margin-right: 10px;
      margin-left: 10px;
      content: "/"
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.box.upload {
  .button {
    background: #222;
    position: relative;
    .progress {
      background: lighten($blue-200, 10%);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      max-width: 100%;
      transition: 100ms width ease-in-out;
    }
    .text {
      color: $white;
      font-weight: $bold;
      position: relative;
      i.mdi {
        margin-right: 10px;
      }
    }
  }

  input.fileUpload {
    display: none;
  }

  &.done {
    .button {
      cursor: default;
      .progress {
        background: $green-200;
      }
    }
  }
}

.box.steps {
  width: 100%;
  height: 30px;
  overflow:hidden;

  @media (min-width:600px) {
    width:200px;
    float:right;
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .item {
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    height: 30px;
    line-height: 30px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(34, 36, 38, 0);
    border-right: 1px solid rgba(34, 36, 38, 0.15);
  }

  i.mdi {
    cursor: pointer;
    width: 45px;
    color:#555;
    margin-top: -3px;
    font-weight:normal;
    font-size:11px;

    &:hover {
      background: rgba($blue-200, 0.1);
    }
    &.disabled {
      pointer-events: none;
      color: rgba(34, 36, 38, 0.1);
    }
  }

  .step {
    width: 150px;
    font-weight: $bold;
  }

  .progress {
    background: #efefef;
    position: relative;
    border-right: none;
    width: calc(100% - 45px);
    .bar {
      background: $blue-200;
      position: absolute;
      left: 0;
      top: 0;
      bottom:1px;
      max-width: 100%;
      min-width: 28%;
      transition: 100ms width ease-in-out;
    }

    .text {
      position: absolute;
      left: 0;
      padding-left: 11px;
      font-weight: normal;
      font-size: 11px;
    }
  }

  &.pink .progress {
    .bar {
      background: #E91E63;
      background: linear-gradient(to left, #819cfc, rgb(155, 99, 248));
    }
    .text {
      color: white;
    }
  }
}

.box.integration {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  img, i.mdi {
    float: right;
    margin-right: 20px;
    height: 30px;
  }
  .title {
    font-weight: $bold;
    color: #000;
    display: block;
  }
  .meta {
    font-weight: $medium;
    color: #888;
    display: block;

    b {
      font-weight: $bold;
      color: #444;
    }
  }

  &:hover {
    background: #eee;
  }

  &.intercom {
    background: #1f8ceb;
    color: white;

    .title {
      color: #FFF;
    }

    .meta {
      color: rgba(255, 255, 255, .8);
    }

    &:hover {
      background: darken(#1f8ceb, 5%);
      .icon-intercom {
        opacity: 1;
      }
    }
  }
}

.client_apps {
  .table {
    .th, .td {
      vertical-align: text-top;
      padding: 5px 0;
      font-size: 12px;
    }

    .th {
      font-weight: $bold;
      text-transform: uppercase;
      padding-right: 20px;
    }
  }

  .bottom, .content {
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
    background: #fcfcfc;
  }
}

.box.assets, .box.workflows {
  .AssetInfo .item, .WorkflowInfo .item {
    padding: 10px 20px;
    border-bottom: 1px solid #CBDDEC;
    border-left: 1px solid transparent;
    color: #2D3F5A;

    img {
      width: 40px;
      + .content {
        width: calc(100% - 60px);
      }
    }

    &:hover {
      background: rgba($table-blue, 0.05);
      border-left: 1px solid $table-blue;
    }

    i.mdi {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -5px;
    }

    .content {
      display: inline-block;
      vertical-align: middle;
    }

    .name {
      color: #2D3F5A;
      font-weight: $medium;
      margin-bottom: 0;
    }
    .price {
      color: #53637F;
      font-weight: $regular;
      font-size: 12px;
    }
  }

  .AssetInfo:last-child .item {
    border-bottom: 0;
  }

  .AssetInfo .item.muted {
    background: #f9f9f9;
    span {
      color: $gray-500;
      text-decoration: line-through;
    }
  }
}


.box.licenses {
  .license .item {
    border-bottom: 1px solid #CBDDEC;
    padding: 0 20px;
    height: 41px;
    line-height: 41px;

    position: relative;
    border-left: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background: rgba($table-blue, 0.05);
      border-left: 1px solid $table-blue;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
      overflow: hidden;
    }
  }

  .image {
    float: left;
    height: 16px;
    line-height: 1;
    margin: 12px 5px 12px -3px;
    img {
      width: 16px;
      height: 16px;
    }
  }

  .name {
    float: left;
    color: #2D3F5A;
    font-weight: $medium;

    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 20px);
    white-space: nowrap;
    line-height: 41px;
  }

  .license:last-child .item {
    border-bottom: 0;
  }

  .license .item.muted {
    background: #f9f9f9;
    span {
      color: $gray-500;
      text-decoration: line-through;
    }
  }
}

.box.files {
  .file {
    display: block;
    border-bottom: 1px solid #CBDDEC;
    padding: 0 20px;
    height: 41px;
    line-height: 41px;

    position: relative;
    border-left: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background: rgba($table-blue, 0.05);
      border-left: 1px solid $table-blue;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
      overflow: hidden;
    }
  }

  .file .item {
    i.mdi {
      float: left;
      margin-right: 5px;
      color: #8fa0b8;
      margin-left: -3px;
      line-height: 37px;
    }

    .name {
      float: left;
      color: #2D3F5A;
      font-weight: $medium;

      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 100px);
      white-space: nowrap;
      line-height: 41px;
    }
    .filesize {
      float: right;
      color: #53637F;
      font-weight: $regular;
      line-height: 41px;
      font-size: 12px;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
      overflow: hidden;
    }
  }

  .action {
    display: none;
    float: right;
    color: #53637F;
    font-weight: $regular;
    cursor: pointer;
    position: absolute;
    padding: 0 20px;
    top: 0;
    right: 0;

    &:hover {
      color: $red-200;
      background: rgba($red-200, .2);
    }
  }

  .file:last-child .item {
    border-bottom: 0;
  }
}

.box.form.compact.search-box {
  padding: 0;
  margin-top: -10px;
  margin-bottom: 10px;

  .search {
    i.mdi {
      pointer-events: all;
      cursor: pointer;
      padding-left: 10px;
      height: 100%;
      z-index: 2;
    }
    input {
      padding-left: 35px; // icon
      padding-right: 0px; // dropdown
    }
  }

  .dropdown {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 20px);
    padding-left: 20px;
    font-size: 15px;
  }

  input {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}

.box.budget-section {
  @media only screen and (max-width: 600px) {
    .table.list.boxxed {
      .m-block {
        position: relative;
      }
      .budget-section-name {
        width: 100%;
        padding-left: 0;
        margin-bottom: 5px;
      }
      .budget-section-progress {
        width: 100%;
        .progress-budget,
        .usage-progress .progress {
          height: 10px;
          line-height: 10px;
          border-radius: 10px;
        }
        .usage-progress {
          .bar {
            border-radius: 10px;
          }
        }
        .progress-budget {
          .bar:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          .bar:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
      .budget-section-time {
        pointer-events: none;
        position: absolute;
        text-align: right;
        width: auto;
        top: 0;
        display: inline-block;
        z-index: 0;
        right: 0;
        margin: 20px;
      }
    }

    &.budget-section--with-action {
      .table.list.boxxed {
        .budget-section-progress {
          width: calc(100% - 40px);
        }
        .budget-section-action {
          position: absolute;
          right: 0;
          width: auto;
          display: inline-block;
          margin: 20px;
          bottom: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .table.list.boxxed {
      .budget-section-time {
        margin: auto;
        margin-top: 5px;
        position: static;
      }
      .budget-section-progress {
        width: 100% !important;
      }
      .budget-section-action {
        top: 0;
        bottom: auto !important;
      }
    }
  }
}
