$max-width: 760px;

$regular: 400;
$medium: 500;
$bold: 700;

$white: #FFFFFF;
$black: #000000;

$gray-100: #EFEFEF;
$gray-200: #D7D7D7;
$gray-300: #CCCCCC;
$gray-500: #A2ABBC;
$gray-700: #818181;

$blue-200: #0093ED;
$blue-500: #233447;

$red-200: #F44336;
$green-200: #4FCD3E;
$yellow-200: #FFEB3B;

$tr-time: 200ms;
$tr-ease: ease-out;

$size-regular: 14px;

$z-header: 10;
$z-popups: 8;
$z-message: 11;
$z-modal: 19;
$z-pikaday-select: 9998;
$z-pikaday: 9999;
